/* Le code CSS spécifique à la page de documentation */
/* Header */
.headerContour{
  border-radius: 50px;
  background-color: #f2f2f7;
}

.btn{
  background-color: blue;
  padding: 5px;
  border-radius: 40px;
}